# External kernel module build outputs
*.o
*.ko
*.o.d
*.mod
*.mod.c
*.mod.o
.*.cmd
.Module.symvers.cmd
.modules.order.cmd
..module-common.o.cmd
.module-common.o
Module.symvers
modules.order

# Common kbuild scratch directories
.tmp_versions/
*.symtypes
*.order
*.markers
*.unsigned
*.tar.gz

compile_commands.json
.cache
__pycache__
*.log

/kernels

# automake artifacts
*~
/autom4te.cache/
/config.status
/confdefs.h
/config.h.in
/configure
/config.h

/.build/
*.deb
.release-dkms-deb.*/
