# External kernel module build outputs
*.o
*.ko
*.mod
*.mod.c
*.mod.o
.*.cmd
.Module.symvers.cmd
.modules.order.cmd
..module-common.o.cmd
.module-common.o
Module.symvers
modules.order

# Common kbuild scratch directories
.tmp_versions/
*.symtypes
*.order
*.markers
*.unsigned
compile_commands.json

.cache
vng.log
dmesg.log
